
body {
  width: '100vw';
  height: '100vh';
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

root {
  width: '100vw';
  height: '100vh';
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
html {
  
  overflow-x: hidden; /* Hide horizontal scrollbar */

}
@font-face {
  font-family: 'brandon-grotesque';
  src: local('brandon-grotesque'), url(../fonts/HvDTrial_Brandon_Grotesque_light-BF64a625c93e709.otf) format('opentype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
@font-face {
  font-family: 'brandon-grotesque';
  src: local('brandon-grotesque-bold'), url(../fonts/HvDTrial_Brandon_Grotesque_black-BF64a625c944b08.otf) format('opentype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: 'proxima-nova';
  src: local('proxima-nova'), url(../fonts/Fontspring-DEMO-proximanova-medium.otf) format('opentype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: 'florenescans';
  src: local('florenescans'), url(../fonts/Florsn01.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: 'bricolage-grotesque';
  src: local('bricolage-grotesque'), url(../fonts/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: 'PT Sans';
  src: local('PT Sans'), url(../fonts/PTSans-Regular.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

.Pages {
  font-family: 'PT Sans'; 
  font-style: normal;
  line-height: 1.8em;
  font-size: 11px; 
  color: rgb(91, 87, 72);
  padding: 0.2em;
  font-weight: 590;
  cursor: pointer;

}

.Pages:hover {
  animation: changeColor 0.25s ease; /* Animation for zooming in */
  cursor: pointer;
  color: rgb(22, 21, 21);

}

.OtherPages {
  font-family: 'proxima-nova'; 
  cursor: pointer;
  font-style: normal;
  line-height: 1.8em;
  font-size: 11px; 
  color: rgb(91, 87, 72);
  padding: 0.2em;
  font-weight: 400;
  letter-spacing: 0.22px;

}

.OtherPages:hover {
  animation: changeColor 0.25s ease; /* Animation for zooming in */
  cursor: pointer;
  color: rgb(22, 21, 21);

}


@keyframes changeColor {
  from {
    color: rgb(91, 87, 72);
  }
  to {
    color: rgb(22, 21, 21);
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.zoomed-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  background-color: rgba(0,0,0,0.9);
  animation: fadeToBlack 1s ease;
  transition-timing-function: cubic-bezier(.25,.15,.65,.25);
}
@keyframes fadeToBlack {
  from {background-color: rgba(0,0,0,0);}
  to {background-color: rgba(0,0,0,0.9);}
}

.zoomed-photo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  animation: zoomIn 0.5s ease; /* Animation for zooming in */
  transition: filter 0.5s ease;
  transition-timing-function: cubic-bezier(.25,.15,.65,.25);
  animation-timing-function: cubic-bezier(.25,.15,.65,.25);
  font-size: 0pt;
}

.zoomed-photo.active {
  animation: fadeIn 0.5s ease; /* Animation for zooming in */
  transition: filter 0.5s ease;
  transition-timing-function: cubic-bezier(.25,.15,.65,.25);
  animation-timing-function: cubic-bezier(.25,.15,.65,.25);
}

@keyframes zoomIn {
  from {
    opacity: 0; /* Initial opacity */
    font-size: 0pt;
  }
  to {
    opacity: 1; /* Final opacity */
    font-size: 0pt;
  }
}

.zoomed-text {
  text-align: center;
  color: #ddddd0;
  width: 50%;
  animation: fadeIn 1.2s ease-in; /* Animation for zooming in */
  animation-timing-function: cubic-bezier(.83,.24,.75,.54);
  font-size: 12pt;
}

.zoomed-title-text {
  font-weight: bold;
  text-align: center;
  color: #ddddd0;
  padding: 2.5vh;
  font-size: 12pt;
  animation: fadeIn 1s linear; /* Animation for zooming in */
  animation-timing-function: cubic-bezier(.83,.24,.75,.54);
}

.zoomed-text-odd {
  text-align: center;
  color: #ddddd0;
  width: 50%;
  animation: fadeIn 1.7s ease-in; /* Animation for zooming in */
  animation-timing-function: cubic-bezier(.83,.24,.75,.54);
  font-size: 12pt;

}

.zoomed-title-text-odd {
  font-weight: bold;
  text-align: center;
  color: #ddddd0;
  padding: 2.5vh;
  font-size: 12pt;
  animation: fadeIn 0.3s ease-in; /* Animation for zooming in */
  animation-timing-function: cubic-bezier(.83,.24,.75,.54);


}

@keyframes fadeIn {
  from {
    opacity: 0; /* Initial opacity */
    font-size: 12pt;
  }
  to {
    opacity: 1; /* Final opacity */
    font-size: 12pt;
  }
}